# Java/Maven
**/target/
*.class
*.log

# NetBeans
**/nbproject/private/
**/nbbuild/
**/dist/
**/.nb-gradle/
.nb-gradle/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Local configuration
.env
application-local.properties
